extends ../../layouts/message.pug
include ../../mixins/box-head.pug

block main
   header(class="bg-white shadow-sm")
    div(class="container mx-auto px-4 py-4 flex justify-between items-center")
      button(class=" back-button flex items-center gap-2 p-2 bg-red-500 text-white hover:bg-red-600 rounded transition shadow-md" onclick="window.history.back()")
         i.fa-solid.fa-sign-out-alt.text-white
         span.text-white.font-semibold Thoát
      h1(
        class="text-xl font-semibold text-gray-800 cursor-pointer hover:text-gray-600 transition-colors"
        
      ) Messages
      
   .container.my-3
      .row
         .col-12
            +box-head("Chat")
            .loader(class="w-[20px] h-[20px] mt-0 mb-2 py-0 items-start mx-2 hidden")
      .row
         .col-12.container
         .chat(
            my-user-id=(currentUser ? currentUser.id : null)
            my-account-id=(currentAccount ? currentAccount.id : null)
            class=""
            )
            .inner-body.overflow-x-hidden.min-h-80.mx-2
               each chat in chats
                  - var isCurrentUser = currentUser && chat.user_id == currentUser.id;
                  - var isCurrentAccount = currentAccount && chat.account_id == currentAccount.id;
                  div(
                  class=(isCurrentUser || isCurrentAccount ? "inner-outgoing" : "inner-incoming")
                  chatid=chat.id
                 
                  )
                     if (!isCurrentUser && !isCurrentAccount)
                        div( class="flex items-center gap-1 w-auto py-1")
                           .inner-avatar
                              img(src=chat.senderInfo.avatar)
                           .inner-name.min-w-40() #{chat.senderInfo.fullName}
                              
                     if(chat.content)
                        .inner-content
                           | #{chat.content}
                     if(chat.images)
                        .inner-images
                           each image in chat.images 
                              img(src=image)
                     
               div(class="inner-list-typing")
            .inner-preview-images
               div(
               class="custom-file-container"
               data-upload-id="upload-images"
               )
            .inner-foot
               form(
               class="inner-form"
               action=""
               )
                  input(
                  type="text"
                  placeholder="Nhập nội dung..."
                  name="content"
                  )
                  label(
                  class="btn btn-light  mb-0" for="file-upload-with-preview-upload-images"
                  ) <i class="fa-regular fa-image"></i>
                  span(
                     class ="button-icon btn btn-light "
                  ) 
                     i.fa-regular.fa-face-smile-beam
                  button
                     i.fa-solid.fa-paper-plane 

            div(class="tooltip" role ="tooltip")
               emoji-picker(class="light")
            
block script
   script(type = "module" src="/js/chat.js")
