extends ../../layouts/default.pug
block main
  if(role.permission.includes("order_view"))
    .container.mx-auto.px-2.py-8
      h1.text-3xl.font-bold.mb-6.flex.items-center
        svg.w-8.h-8.mr-2(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor")
          path(stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-6 9l2 2 4-4")
        | Quản lý Đơn hàng

      .bg-white.rounded-lg.shadow.mb-6.p-2
        form.flex.flex-wrap.items-center.gap-4(action="/admin/orders" method="GET")
          .flex-1
            label.sr-only(for="keyword") Tìm kiếm
            .relative
              input#keyword.w-full.pl-10.pr-4.py-2.border.rounded-lg(type="text" name="keyword" placeholder="Tìm theo tên, SĐT, địa chỉ..." value=keyword)
              .absolute.left-3(class="top-2.5")
                svg.w-5.h-5.text-gray-400(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor")
                  path(stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z")
          
          .flex.items-center.gap-2
            select#status.py-2.pl-3.pr-8.border.rounded-lg(name="status")
              option(value="") Tất cả trạng thái
              each val, key in statusOptions
                option(value=key selected=(statusFilter == key))= val
            button(type="submit" class=" bg-blue-600 text-white px-1 py-2 rounded-lg hover:bg-blue-700 flex items-center")
              svg.w-5.h-5.mr-2(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor")
                path(stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 4a1 1 0 011-1h16a1 1 0 011 1v2.586a1 1 0 01-.293.707l-6.414 6.414a1 1 0 00-.293.707V17l-4 4v-6.586a1 1 0 00-.293-.707L3.293 7.293A1 1 0 013 6.586V4z")
              | Lọc

      .bg-white.rounded-lg.shadow.overflow-hidden
        .overflow-x-auto
          table.min-w-full.divide-y.divide-gray-200
            thead.bg-gray-50
              tr
                th.px-6.py-3.text-left.text-xs.font-medium.text-gray-500.uppercase.tracking-wider Mã ĐH
                th.px-6.py-3.text-left.text-xs.font-medium.text-gray-500.uppercase.tracking-wider Khách hàng
                th.px-6.py-3.text-left.text-xs.font-medium.text-gray-500.uppercase.tracking-wider Ngày đặt
                th.px-6.py-3.text-left.text-xs.font-medium.text-gray-500.uppercase.tracking-wider Tổng tiền
                th.px-6.py-3.text-left.text-xs.font-medium.text-gray-500.uppercase.tracking-wider Trạng thái
                th.px-6.py-3.text-left.text-xs.font-medium.text-gray-500.uppercase.tracking-wider Thao tác
            tbody.bg-white.divide-y.divide-gray-200
              each order in orders
                tr(class="hover:bg-gray-50")
                  td.px-6.py-4.whitespace-nowrap.text-sm.font-medium.text-gray-900
                    | ##{order._id.toString().slice(-6).toUpperCase()}
                  td.px-6.py-4.whitespace-nowrap
                    .flex.items-center
                      .flex-shrink-0.h-10.w-10
                        img.h-10.w-10.rounded-full(src="https://ui-avatars.com/api/?name=" + encodeURIComponent(order.userInfo.fullName) + "&background=random" alt=order.userInfo.fullName)
                      .ml-4
                        .text-sm.font-medium.text-gray-900= order.userInfo.fullName
                        .text-sm.text-gray-500= order.userInfo.phone
                  td.px-6.py-4.whitespace-nowrap.text-sm.text-gray-500= order.createdAt.toLocaleDateString('vi-VN')
                  td.px-6.py-4.whitespace-nowrap.text-sm.font-semibold.text-gray-900
                    | #{order.totalAfterDiscount}$
                  td.px-6.py-4.whitespace-nowrap
                    form.update-status-form(data-id=order._id)
                      .relative
                        if(role.permission.includes("order_edit"))
                          select(
                            class={
                              ' status-select border rounded-lg py-2 pl-3 pr-8 w-full text-sm leading-tight focus:outline-none appearance-none focus:ring-2 focus:ring-blue-500 border-yellow-500 bg-yellow-50 text-yellow-800': order.status === 1,
                              ' status-select border rounded-lg py-2 pl-3 pr-8 w-full text-sm leading-tight focus:outline-none appearance-none focus:ring-2 focus:ring-blue-500 border-green-500 bg-green-50 text-green-800': order.status === 2,
                              ' status-select border rounded-lg py-2 pl-3 pr-8 w-full text-sm leading-tight focus:outline-none appearance-none focus:ring-2 focus:ring-blue-500 border-red-500 bg-red-50 text-red-800': order.status === 3,
                              ' status-select border rounded-lg py-2 pl-3 pr-8 w-full text-sm leading-tight focus:outline-none appearance-none focus:ring-2 focus:ring-blue-500 border-blue-500 bg-blue-50 text-blue-800': order.status === 4
                            }
                          )
                            each val, key in statusOptions
                              option(value=key selected=(order.status == key))= val
                          .pointer-events-none.absolute.inset-y-0.right-0.flex.items-center.px-2
                            svg.w-5.h-5.text-current(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor")
                              path(stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7")
                  td.px-6.py-4.whitespace-nowrap.text-right.text-sm.font-medium
                    a(href=`/admin/orders/detail/${order._id}` class=" text-blue-600 hover:text-blue-900 flex items-center")
                      svg.w-5.h-5.mr-1(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor")
                        path(stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z")
                        path(stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z")
                      | Chi tiết

      if totalPages > 1
        .mt-6.flex.justify-center
          nav.shadow-sm.rounded-lg
            .flex
              a.flex.items-center.px-4.py-2.border.border-gray-300.bg-white.text-sm.font-medium.text-gray-700(
                href=`?page=${currentPage - 1}&status=${statusFilter}&keyword=${keyword}`
                class=currentPage === 1 ? 'opacity-50 cursor-not-allowed hover:bg-gray-50 rounded-l-lg' : 'hover:bg-gray-50 rounded-l-lg'
              )
                svg.w-5.h-5(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor")
                  path(stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7")
              each _, i in Array(totalPages)
                - const pageNumber = i + 1
                a.px-4.py-2.border-t.border-b.border-gray-300.bg-white.text-sm.font-medium.text-gray-700(
                  href=`?page=${pageNumber}&status=${statusFilter}&keyword=${keyword}`
                  class={
                    'bg-blue-50 hover:bg-gray-50 border-blue-500 text-blue-600 ': pageNumber === currentPage,
                    'border-l-0 hover:bg-gray-50': pageNumber !== 1,
                    'border-r-0 hover:bg-gray-50': pageNumber !== totalPages
                  }
                )= pageNumber
              a.flex.items-center.px-4.py-2.border.border-gray-300.bg-white.text-sm.font-medium.text-gray-700(
                href=`?page=${currentPage + 1}&status=${statusFilter}&keyword=${keyword}`
                class=currentPage === totalPages ? 'opacity-50 cursor-not-allowed hover:bg-gray-50 rounded-r-lg' : 'hover:bg-gray-50 rounded-r-lg'
              )
                svg.w-5.h-5(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor")
                  path(stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7")

    script.
      document.querySelectorAll('.status-select').forEach(select => {
        select.addEventListener('change', async function() {
          const orderId = this.closest('form').dataset.id;
          const newStatus = this.value;
          
          try {
            const response = await fetch(`orders/update-status/${orderId}`, {
              method: 'PATCH',
              headers: {
                'Content-Type': 'application/json',
              },
              body: JSON.stringify({ status: newStatus })
            });
            
            const data = await response.json();
            if (data.success) {
              const statusClasses = {
                1: 'border-yellow-500 bg-yellow-50 text-yellow-800',
                2: 'border-green-500 bg-green-50 text-green-800',
                3: 'border-red-500 bg-red-50 text-red-800',
                4: 'border-blue-500 bg-blue-50 text-blue-800'
              };
              this.className = `border rounded-lg py-2 pl-3 pr-8 w-full text-sm leading-tight focus:outline-none focus:ring-2 focus:ring-blue-500 ${statusClasses[newStatus]}`;

              Toastify({
                text: "Cập nhật trạng thái thành công!",
                duration: 3000,
                close: true,
                gravity: "top",
                position: "right",
                backgroundColor: "#10B981",
              }).showToast();
            }
          } catch (error) {
            console.error('Error:', error);
            Toastify({
              text: "Lỗi cập nhật trạng thái!",
              duration: 3000,
              close: true,
              gravity: "top",
              position: "right",
              backgroundColor: "#EF4444",
            }).showToast();
          }
        });
      });